
.mat-card {
  width: 400px; /* Set the width of the MatCard */
  margin: 20px auto; /* Center the card horizontally and add some margin */
  max-width: calc(100vw - 40px); /* Ensure the card doesn't exceed the viewport width minus the horizontal margin */
}

#pie-chart-container {
  max-width: 450px;
  width: 450px; /* Adjust the width as needed */
}

#pie-chart-container svg {
  width: 450px; /* Adjust the width as needed */
}

#pie-chart-container {
  width: 450px; /* Adjust the width as needed */
}
