<!-- side-navigation.component.html -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
  
      <!-- Add routerLink directive to navigate to different routes -->
      <button mat-flat-button [routerLink]="['/dashboard']">
        Dashboard
      </button>
      <button mat-flat-button [routerLink]="['/accounts']">
        Accounts
      </button>
      <button mat-flat-button [routerLink]="['/assets-liabilities']">
        Assets and Liabilities
      </button>
      <button mat-flat-button [routerLink]="['/income-expense']">
        Income and Expense
      </button>
      <button mat-flat-button [routerLink]="['/savings-goal']">
        Savings Goal
      </button>
  
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle Navigation
      </button>
  
  
      <header class="header">
        <h1>Welcome to Income and Expenses,  {{ userProfile?.firstname }} {{ userProfile?.lastname }}</h1>
        <button mat-raised-button color="warn" (click)="addincome()">Add Income</button>
        <button mat-raised-button color="warn" (click)="addexpense()">Add Expense</button>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      </header>
  
    </div>
  </mat-drawer-container>