/* Add this CSS to your global styles or component styles */
.example-container {
  height: 100vh; /* Make the container height fill the entire viewport */
  width: 100vw; /* Make the container width fill the entire viewport */
}

/* Add this CSS to your global styles or component styles */
.header {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Center the items vertically */
}

.header h1 {
  margin-right: auto; /* Push h1 to the left */
  margin-left: 50px; /* Add left margin to the h1 */
}

.header button {
  margin-left: 30px; /* Add left margin to the buttons */
  margin-right: 10px; /* Add right margin to the buttons */
}
/* Add margin to the right of the logout button */
.header button:last-child {
  margin-right: 20px; /* Adjust margin as needed */
}

.example-sidenav button {
  display: block;
  width: 100%;
}
