<section class="login-box">
  <h2 class="section-heading">Login</h2>
  <form [formGroup]="loginForm" (submit)="submitApplication()">
    <!-- Email Field -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email">
    </mat-form-field>

 <!-- Password Field -->
 <mat-form-field appearance="fill" class="form-group">
  <mat-label>Password</mat-label>
  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Enter your password">
  <button mat-icon-button matSuffix class="transparent-icon" (click)="togglePasswordVisibility()" [attr.aria-label]="hide ? 'Show password' : 'Hide password'">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>


<mat-form-field>
  <mat-label>Enter your password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</section>
